
<div class="img">
  <form>
  <div class="form-row">
    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input" (change)="imageAdded($event)" id="inputGroupFile01">
        <label class="custom-file-label" for="inputGroupFile01">Image</label>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="uploadImg()">Upload</button>
  </form>
  <div class="alert alert-success" role="alert" *ngIf="uploaded==true">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you successfully Uploaded Image</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    <app-add-car [carImageName]="fileName" ></app-add-car>
  </div>
</div>
